.remove_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.remove_modal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
