@font-face {
  font-family: "FiraSansMedium";
  src: url("../src/assets/fonts/FiraSans-Medium.ttf");
}

@font-face {
  font-family: "FiraSansBold";
  src: url("../src/assets/fonts/FiraSans-Bold.ttf");
}

body {
  margin: 0;
  font-family: "FiraSansMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 15px;
  color: #1a1a1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
